@using System.IdentityModel.Claims
@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/logoicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrap">
        <div id="sidebar">
            <a href="#" id="logo"><img src="~/Images/logo.png" alt=""></a>
            <div class="account">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="acc-left">
                        <div>Hi, @User.Identity.Name!</div>
                    </div>
                    <a class="acc-right" href="@Url.Action("Logoff", "Account")">
                        <div>Log off</div>
                    </a>
                }
                else
                {
                    <a class="acc-left" href="@Url.Action("Login", "Account")">
                        <div>Login</div>
                    </a>
                    <a class="acc-right" href="@Url.Action("Register", "Account")">
                        <div>Register</div>
                    </a>
                }
            </div>
            <ul id="navigation">
                <li>@Html.ActionLink("Flights", "List", "Flight")</li>
                <li>@Html.ActionLink("Requests", "List", "Request")</li>
                <li>@Html.ActionLink("Staff", "List", "Staff")</li>
            </ul>
        </div>

        <div id="container">
            <div class="page">
                <h3 class="page_title">@ViewBag.PageTitle</h3>
                <div class="page_content">
                    @RenderBody()
                </div>
            </div>

            <div class="footer">
                <p>Copyright © <a href="#">Airplanner.com</a> | All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <a class="gotop" href="#">Top</a>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/airplanner-script.js")
    @RenderSection("scripts", false)
</body>
</html>
